{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
    Your Cart
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="panel panel-primary">
            <div class="panel-heading">Ваши товары :</div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                            ${{ item.total_price }}
                            <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <p>Total: ${{ cart.get_total_price }}</p>
            </div>
        </div>
        <div class="col-xl-7 ftco-animate fadeInUp ftco-animated">
            <form action="{% url 'orders:order_create' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success btn-product">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Place order
                    </button>
                {% endbuttons %}
            </form>
        </div>
        </div>
    </div>
{% endblock %}