{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Данные пользователя</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 ftco-animate">

                    <form method="POST" class="billing-form">
                        {% csrf_token %}

                        <h3 class="mb-4 billing-heading">Добрый день, {{ user.name|default:user.email }}!</h3>

                        {% if message %}
                            <div class="error-message">{{ message }}</div>
                        {% endif %}

                        <div class="row align-items-end">
                            <div class="col-lg-12">
                                {% bootstrap_form form %}
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Имя</label>
                                    <input type="text" id="name" name="name" class="form-control black-font"
                                           value="{{ user.name }}" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone">Адрес доставки</label>
                                    <input type="text" name="address_delivery" class="form-control black-font"
                                           value="{{ user.address_delivery }}" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="emailaddress">Телефон</label>
                                    <input type="text" name="phone_number" class="form-control black-font"
                                           value="{{ user.phone_number }}" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Сохранить" class="btn btn-primary py-3 px-4 m-auto">
                                </div>
                            </div>
                        </div>
                    </form><!-- END -->
                </div>
            </div>
        </div>
    </section>



{% endblock %}