{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="main_page.html">Home</a></span> <span
                            class="mr-2"><a href="main_page.html">Product</a></span> <span>Product Single</span></p>
                    <h1 class="mb-0 bread">Product Single</h1>
                </div>
            </div>
        </div>
    </div>
-->
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{{ product.main_photo.url }}" class="image-popup"><img
                                        src="{{ product.main_photo.url }}" class="img-fluid" alt="No image"></a>
                            </div>
                            {% for image in product.additional_images.all %}
                                <div class="carousel-item">
                                    <a href="{{ image.image.url }}" class="image-popup"><img
                                            src="{{ image.image.url }}" class="img-fluid" alt="No image"></a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ product.name }}</h3>
                    <p class="price"><span>${{ product.price }}</span></p>
                    <p>
                        {{ product.full_description }}
                    </p>
                    <p>
                        Белки: {{ product.proteins }}
                    </p>
                    <p>
                        Жиры: {{ product.fats }}
                    </p>
                    <p>
                        Углеводы: {{ product.carbohydrates }}
                    </p>
                    <p><a href="{% url 'cart:cart_add' product.id %}" class="btn btn-black">Добавить в корзину
                    </a></p>
                    <div id="unauthorized_error" class="alert alert-danger" role="alert">
                        Только залогиненые пользователи могут добавлять товары в корзину. <a href="{% url 'login' %}" class="alert-link">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#unauthorized_error").hide();
            $("#add-to-cart").click(function () {
                $.ajax({
                    type: 'GET',
                    async: true,
                    url: '{% url "cart:add_item" %}',
                    data: {
                        'product_id': {{ product.id }}
                    },
                    success: function (data) {
                        if (data['cart_total_items_quantity']) {
                            $("#cart_total_items_quantity").text(data['cart_total_items_quantity']);
                        } else if (data['unauthorized_error'] == 'true') {
                            $("#unauthorized_error").show();
                        }

                    },
                    dataType: 'json',
                });
            });
        });
    </script>

{% endblock %}