{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a
                            href="../../core/templates/main_page.html">Home</a></span> <span>Cart</span></p>
                    <h1 class="mb-0 bread">My Cart</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    {% if cart_items %}
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for cart_item in cart_items %}
                                <tr class="text-center">
                                    <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod">
                                        <div class="img"
                                             style="background-image:url('{{ cart_item.product.main_photo.url }}');"></div>
                                    </td>

                                    <td class="product-name">
                                        <h3>{{ cart_item.product.name }}</h3>
                                        <p>{{ cart_item.product.short_description }}</p>
                                    </td>

                                    <td class="price">{{ cart_item.product.price }} грн.</td>

                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                            <input type="text" name="quantity"
                                                   class="quantity form-control input-number"
                                                   value="{{ cart_item.quantity }}" min="1" max="100">
                                        </div>
                                    </td>

                                    <td class="total">$10.00</td>
                                </tr><!-- END TR-->
                            {% empty %}
                                <h3 class="mb-4">Ваша корзина пуста</h3>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="mb-4 border-bottom border-success mx-auto ftco-animate">Ваша корзина пуста</h3>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-12 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Cart Totals</h3>
                        <p class="d-flex">
                            <span>Subtotal</span>
                            <span>$20.60</span>
                        </p>
                        <p class="d-flex">
                            <span>Delivery</span>
                            <span>$0.00</span>
                        </p>
                        <p class="d-flex">
                            <span>Discount</span>
                            <span>$3.00</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>$17.60</span>
                        </p>
                    </div>
                    <p><a href="{% url 'cart:empty-cart' %}" class="btn btn-primary py-3 px-4">Очистить Корзину</a>
                        <a href="../../core/templates/checkout.html" class="btn btn-primary py-3 px-4">Proceed to
                            Checkout</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}